body {
  width: 99%;
  height: 900px;
  background-color: rgba(238, 236, 144, 0.89);
  font-family: 'Luckiest Guy', cursive;
}

pre {
  background-color: bisque;
  font-family: 'Luckiest Guy', cursive;
  border-style: groove;
  border-radius: 1rem;
}
#top-bar {
  margin-top: 28px;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}

h1 {
  color: rgba(64, 9, 167, 0.733);
}
